/* MapboxMap.module.css */
.mapContainer {
    width: 100vw;
    height: 30vh;
    position: relative;
  }

  .saveLocationButton {
    position: absolute;
    bottom: "20px";
    right: "20px";
    padding: "10px 20px";
    z-index: 100;
    cursor: "pointer";
  }