.mapContainer {
    width: 100vw;
    height: 65vh;
    position: relative;
}

.saveLocationButton {
    bottom: "20px";
    right: "20px";
    padding: "10px 20px";
    z-index: 100;
    cursor: "pointer";
  }

.fullMapContainer {
  width:100vw;
  height:100vh;
  position: absolute;
}